.input-group-text {
  width: 75px;
}

.dogecoin-shibes-text {
  font-size: 40px;
}

.fiat-text {
  font-size: 24px;
}

.symbol {
  font-style: italic;
}

@media (max-width: 767.98px) {
  .dogecoin-shibes-text {
    font-size: 30px;
  }
}

.shibes {
  font-size: 20px;
  margin-left: 5px;
}

.row {
  margin: auto;
}
